<h1>Jessica Lynn Suttles</h1>
 <h4>Coach</h4>
 <p>Jessica has been a Rubyist for 4 years. She attended Rails Girls SF in February and then organized Rails Girls LA in April. She also joined the Bundler core team in March. And now the two interests have merged to form RGSoCBundler!</p>
 <a href="https://twitter.com/jlsuttles"><button class="btn btn-twitter"><i class="icon-twitter"></i>Twitter</button></a>
