---
pageable: true
per_page: 10
---

<div class="well">
  <h2>Jen Diamond</h2>
  <p>I was working on an animation for a planetarium dome when I learned some Ruby so I could complete my idea. That's when I realized that programming was the missing link to my future. I started taking more programming classes and attended Railsbridge. I ended up inspired and started tutoring at Railsgirls, Railsbridge, RubyKids and started a study group. I have too many stories to tell and I am a resolute over-sharer. Buy me a coffee and you'll soon find out too much about me.</p>

  <p>All summer we will be posting all of our #tools, #goals, #progress, and #achievements
  to this blog so others can learn from what we have learned!</p>

  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row-fluid">
  <div class="span4">
    <h3>Past</h3>
  <h4></h4>
    <ul>
      <li>bike messenger</li>
      <li>boom operator</li>
      <li>sound recordist</li>
      <li>scenic painter</li>
      <li>musician</li>
      <li>clothing designer</li>
      <li>graphic designer</li>
      <li>web designer</li>
    </ul>     
    <p><a class="btn" href="jendiamond.html">Read more &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h3>Present</h3>
  <h4>Rails Girls Summer of Code</h4>
       <p>I am spending my summer coding with Jessica Lynn Suttles (our coach), Joyce Hsu (my pair programmer), Wabi & Sabi (cat friends) in lovely Los Angeles. We are working on the open source code of the Gem Bundler thanks to Rails Girls. </p>
    <p><a class="btn" href="#">Read more &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h3>Future</h3>
  <h4>Job</h4>
       <p>I'd like to get good enough to start out as a junior developer and move up from there.I will eventually figure out a way to incorporate all my skills.</p>
    <p><a class="btn" href="#">Read more &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->


