<h1>André Arko</h1>
 <h4>Mentor</h4>
 <p>André Arko has been a Rubyist for 8 years, wrote the jquery-rails gem, and somehow wound up leading the Bundler team. He spends a lot of time excited to be writing in or about Ruby, and lives on the intarwebs at <a href="http://arko.net">arko.net</a>.</p>

  <p><a href="http://arko.net/" class="btn btn-aablog">blog &raquo;</a> <a href="https://twitter.com/indirect"><button class="btn btn-twitter"><i class="icon-twitter"></i>Twitter</button></a>
</p>

 <div class="row-fluid">

  <div class="span4">
  <h3>Interviews</h3>
    <ul>
      <li><a href = "http://rubysource.com/an-interview-with-andre-arko-and-terence-lee-from-the-bundler-team/">Rubysource</a></li>
      <li><a href = "http://rubyrogues.com/045-rr-bundler-with-andre-arko/">Ruby Rogues</a></li>
      <li><a href = "http://castroller.com/podcasts/Rubyology/1823763">Cast Roller</a></li>
          </ul>
  </div><!--/span-->
  <div class="span4">
    <h3>Presentations</h3>
    <ul>
      <li><a href = "https://speakerdeck.com/indirect">Speaker Deck</a></li>
      <li><a href = "http://rubykaigi.org/2013/talk/S43">RubyKaigi 2013</a></li>
      <li><a href = "http://www.confreaks.com/presenters/300-andre-arko">GoRuCo 2013</a></li>

    </ul>
  </div><!--/span-->
  <div class="span4">
    <h3>Contributions</h3>
     <ul>
      <li><a href = "http://contributors.rubyonrails.org/contributors/andre-arko/commits">Rails Contributors</a></li>
      <li><a href = "http://intuitivedirection.com/">Intuitive Direction</a></li>
      <li><a href = "http://metric-fu.rubyforge.org/">Metric-Fu</a></li>

    </ul>
  </div><!--/span-->

</div><!--/row-->


