<h1>Andre Arko</h1>
 <h4>Mentor</h4>
 <p>André Arko has been a Rubyist for 8 years, wrote the jquery-rails gem, and somehow wound up leading the Bundler team. He spends a lot of time excited to be writing in or about Ruby, and lives on the intarwebs at <a href="http://arko.net">arko.net</a>.</p>

  <p><a href="http://arko.net/" class="btn btn-aablog">blog &raquo;</a> <a href="https://twitter.com/indirect"><button class="btn btn-twitter"><i class="icon-twitter"></i>Twitter</button></a>
</p>

<div class="row-fluid">

 
