<h1>Joyce Hsu</h1>
<h4>Student</h4>
 <p>Hello I'm Joyce! Driven by curiousity, I've dabbled in HTML and CSS here and there. I attended RailsGirls LA and have developed a strong interest in learning Ruby and Rails. When not learning to code, I like to listen to/discover new music and love animals.</p>

 <a href="https://twitter.com/joyicecloud"><button class="btn btn-twitter"><i class="icon-twitter"></i> Twitter</button></a>

