---
title: Week 4 Day 19 Distill Day 2
date: 2013-08-09 12:15 PDT
tags: log
---

# Week 4 Day 19

## Distill Day 2

<iframe src="http://player.vimeo.com/video/70981008" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/70981008">Distill, distilled: The Two Minute Tour</a> from <a href="http://vimeo.com/engineyard">Engine Yard</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

### Keynote: Michael Lopp
The Keynote was by Michael Lopp who wrote *Being Geek*, *Managing Humans*, and worked at Apple for 8 years. Eamon Leonard says it best, ["Michael thinks deeply about the problems developers face in their everyday lives, how to help developers identify their true goals, what makes them happy and how to achieve happiness, how to lead and how to follow and much more."](https://blog.engineyard.com/2013/the-thinker-michael-lopp-to-keynote-distill)

<div style="float:left; border: 10px solid #f5f5f5"><img src="/images/distill/view_treasureisland.jpg" /><div class="caption">Nice View of Treasure Island</div></div>

### Death to Cookies - Konstantin Haase
Konstantin Haase is the maintainer of Sinatra and works on Travis CI. We watched Konstantin's talk [Death to Cookies](https://speakerdeck.com/rkh/distill-death-to-cookies) He taught us that cookies can be poisonous, how cookies can be spoofed, and showed us ways to use them safely.

<div style="clear: both;"></div>

### Function and Dysfunction in Engineering-Driven Cultures - Shanley Kane

Shanely Kane used fairy tales to juxtapose engineering culture and how tech decisions are shaped by rewards, values, power, homogeneity, and team history. She talked about racism, classism, and sexism in the tech fields and how we can get past that through hiring diversity.

<div style="float:right; border: 10px solid #f5f5f5"><img src="/images/distill/Picnic_Lunch.jpg" /><div class="caption">Picnic Lunch</div></div>

### Lunch and Lawn Games
We had lunch with Marcy, Elise, Dave and Cal. We talked about [Camu's the Plague](http://evankozierachi.com/uploads/The_Plague_by_Albert_Camus.pdf). Dave talked about his experience teaching programming in Texas and future technologies.

After lunch we talked to Konstantine about his Rails Girls team the Inchworms. He told us about all the great work they are doing in Sinatra and about their [project groups](http://railsgirlsberlin.de/workshops/projectgroups/) they were in before Rails Girls Summer of Code started.

<div style="clear: both;"></div>

### Full Stack Documentation

#### A holistic approach to documentation, testing, development and deployment - Ana Nelson

[Slides](http://www.youtube.com/watch?v=fKiuHJ-MUzg)

Ana Nelson is the creator of Dexy, a Python-based tool for documentation. Documentation is incredibly important as part of best practice to get the most value out of your code. Ana talked about the tools for integrating code and prose.
