---
title: Week 4 Day 15 Ruby Warrior
date: 2013-08-05 17:45 PDT
tags: log
---
## Week 4 Day 15

### Ruby Warrior
<center>
<a href="https://www.bloc.io/ruby-warrior"><img src="/images/rubywarriors-img.png" /></a>
</center>
<br />

We played [Ruby Warrior](https://www.bloc.io/ruby-warrior) to learn the Ruby language in a fun and interactive way.

Jen got her Rspec test to pass for her gem.

We practiced our lightning talk for the Distill Conference on Aug 8-9.

