---
pageable: true
per_page: 10
---

<div class="well">
  <h2>RGSoC LA Bundler Team</h2>
  <p>RGSoC is all about helping women contribute to open source projects. Open
  source software takes a lot of online communication. To get as much practice as
  possible we will open source our communication!</p>

  <p>All summer we will be posting all of our #tools, #goals, #progress, and #achievements
  to this blog so others can learn from what we have learned!</p>

</div>

<div class="row-fluid">
  <div class="span4">
    <div class="offset2">
    <img src="/images/jdiamond.jpg" class="img-circle">
    </div>
    <h3>Jen Diamond</h3>
    <h4>Student</h4>
    <p>I was working on an animation for a planetarium dome when I learned some Ruby so I could complete my idea. That's when I realized that programming was the missing link to my future. I started taking more programming classes and attended Railsbridge.<p>
    <p><a class="btn btn-jdreadmore" href="/jen-diamond">Read more &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <div class="offset2">
    <img src="/images/joyce.jpg" class="img-circle">
    </div>
    <h3>Joyce Hsu</h3>
    <h4>Student</h4>
    <p>Hello I'm Joyce! Driven by curiousity, I've dabbled in HTML and CSS here and there. I attended RailsGirls LA and have developed a strong interest in learning Ruby and Rails. When not learning to code, I like to listen to/discover new music and love animals.</p>
    <p><a class="btn btn-jhreadmore" href="/joyce-hsu">Read more &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <div class="offset2">
    <img src="/images/jessica.jpg" class="img-circle">
    </div>
    <h3>Jessica Suttles</h3>
    <h4>Coach</h4>
    <p>Jessica has been a Rubyist for 4 years. She attended Rails Girls SF in February and then organized Rails Girls LA in April. She also joined the Bundler core team in March. And now the two interests have merged to form RGSoCBundler!</p>
    <p><a class="btn btn-jlsreadmore" href="/jessica-lynn-suttles">Read more &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
  <div class="span4">
    <div class="opaque">
    <div class="offset2">
      <img src="/images/andre.jpg" class="img-circle">
    </div>
    <h3>Andre Arko</h3>
    <h4>Mentor</h4>
    <p>André Arko has been a Rubyist for 8 years, wrote the jquery-rails gem, and somehow wound up leading the Bundler team. He spends a lot of time excited to be writing in or about Ruby, and lives on the intarwebs at <a href="http://arko.net">arko.net</a>.</p>
    <p><a class="btn btn-aareadmore" href="/andre-arko">Read more &raquo;</a></p>
    </div>
  </div><!--/span-->
  <div class="span4">
    <div class="offset2">
      <img src="/images/placeholder-you-profile.png" class="img-circle">
    </div>
    <h3>You?</h3>
    <h4>Coach/Mentor/Ally</h4>
    <p>We could always use more friends. If you're interested in helping let us know!</p>
    <p><a class="btn btn-you" href="mailto:rgsocbundler@gmail.com">Email us &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->
